*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background-image: url(adminbg.jpg);
    background-size: cover;
}



.login-form{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;


    .heading_container{
        margin-bottom: 70px;
    width:100%;
 h2{
    color:white;
    font-size: 30px;
    text-align:center;
}
}

.login-body{
    color:white;
    width: 100%;
    background:rgba(0, 0, 0, 0.301);
    .form-title{
        padding-top:20px;
        display:flex;
        width:95%;
        margin:auto;

        @media(max-width:865px){
            flex-direction: column-reverse;
            justify-content: center;
            align-items:center;
            text-align:center;
        }
        
       .form-title-left{
            width:80%;
            div:nth-child(1){
                margin-bottom: 10px;
            }
        }

       .form-title-right{
            width:20%;
            justify-content: flex-end;
            display:flex;


            .circle{
                border-radius: 100%;
                width:70px;
                height: 70px;
                background:black;
                margin-right: 0;
                
            }
        }
    }

    .username{
        width:95%;
        margin:auto;
        padding:10px 0;

        input{
            width:100%;
            border:none;
            padding:20px 5px;
            font-size: 18px;
        }
    }

    .password{
        width:95%;
        margin:auto;
        padding:10px 0;

        input{
            width:100%;
            border:none;
            padding:20px 5px;
            font-size: 18px;
        }
    }

    .submit{
        width:95%;
        margin:auto;
        padding-bottom: 20px;

        input{
            width:120px;
            height: 60px;
            border:none;
            background:rgb(0, 119, 255);
            color:white;
        }
    }
}
    
}





