*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.page-body{
    background:#ccc;

    display:flex;

    .main-section{
        padding-left:30px;

        .title{
            margin-top:40px;
            margin-bottom: 40px;
            font-size: 30px;
            font-weight: bold;
        }

        .content{
            display: flex;
            justify-content: space-around;
            flex-wrap:wrap;

            .card{
                margin-bottom: 20px;
                width:230px;
                    margin-right:20px;
                
                
                box-shadow:0 3px 10px rgba(0, 0, 0, 0.247);
                

                .card-up{
                    color:white;
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    padding:20px;

                    .card-up__left{
                        font-size: 60px;
                    }

                    .card-up__right{
                        text-align: right;
                        font-size: 14px;
                       
                    }
                }

                .card-down{
                    color:dodgerblue;
                    display:flex;
                    justify-content: space-between;
                    padding:20px;
                    background:white;

                }
            }
        }
    }
}

.blue{
    background:dodgerblue;

}

.teal{
    background:teal;
}

.green{
    background:green;
}

.red{
    background:red;
}